.card h1{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

table{
    border: 1px solid black;
    width: 390px;
}

td{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
}

#table-heading{
    background: rgb(245, 66, 66);
}
tr{
    background: rgb(8, 110, 169);
    color: black;
}